@model ClassicGames.Models.Game

@{
    ViewBag.Title = "Detaylar";
}

<h2>ve detaylar...</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            Adı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Hakkında Bir Tutam Bilgi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            Çıkış Tarihi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishDate)
        </dd>

        <dt>
            Kapak Fotoğrafı
        </dt>

        <dd>
            @if (Model.Photo != null)
            {
                <img src="data:image;base64,@System.Convert.ToBase64String(Model.Photo)" style=" max-width: 150px;" />
            }

        </dd>

        <dt>
            Programcıları
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Developers)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Yorumlar", "Index", "GameReviews", new { id = Model.Id }, null) |
    @Html.ActionLink("Oyun Listesine Dön", "Index")
</p>