@model ClassicGames.Models.GameReview

@{
    ViewBag.Title = "Yorum Silme :(";
}

<h2>
    Merhaba <b>@Html.DisplayFor(model => model.User)</b><br />
    Gerçekten mi?<br />
    <b>@Model.Game.Name</b> için özene bezene yazdığın ve tam <b>@Html.DisplayFor(model => model.Rating)</b> puan verdiğin bu yorumu silecek misin?
</h2>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @*@Html.HiddenFor(m => m.Game.Id, new { Name = "gameId" })*@ @*Eski*@
            @Html.Hidden("gameId", Model.Game.Id, new { @Id = "gameId" }) @*Yeni*@
            <input type="submit" value="Sil Gitsin" class="btn btn-default" /> |
            @Html.ActionLink("Oyun Listesine Dön", "Index", "Games", new { id = Model.Id }, null)
        </div>
    }
</div>