@model IEnumerable<ClassicGames.Models.Game>

@{
    ViewBag.Title = "C64 Oyun Listesi";
}

<h2>Oyunlar (Tam Liste)</h2>

<table class="table">
    <tr>
        <th>
            Unutulmaz Kapak Fotosu
        </th>
        <th>
            Namı
        </th>
        <th>
            Hakkında
        </th>
        <th>
            Çıkış Tarihi
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.Photo != null)
                {
                    <img src="data:image;base64,@System.Convert.ToBase64String(item.Photo)" style=" max-width: 150px;" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @item.PublishDate.ToString("d")
            </td>
            <td>
                @Html.ActionLink("Detay", "Details", new { id = item.Id })
                |
                @Html.ActionLink("Yorumlar", "Index", "GameReviews", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>